.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
}


#hidden {
  display: none;
}

.warning {
  display: none;
  border-radius: 16px;
  border: white dotted;
  max-width: 90%;
}

.close {
  margin-left: 90%;
}

.hidden {
  display: none;
}

#error {
  color: red;
}